@model Candy

<h1>Create New Candy</h1>

<div class="col-md-10">

    <form asp-action="Create">
        <div class="form-group m-4">
            <label asp-for="CandyName"></label>
            <input asp-for="CandyName" class="form-control" />
            <span asp-validatition-for="Description" class="text-danger"></span>
        </div>

        <div class="form-group m-4">
            <label asp-for="Description"></label>
            <input asp-for="Description" class="form-control" />
        </div>

        <div class="form-group m-4">
            <label asp-for="CandyPrice"></label>
            <input asp-for="CandyPrice" class="form-control" />
        </div>

        <div class="form-group md-4">
            <label asp-for="ImgUrl" class="control-label"></label>
            <input type="file" asp-for="ImgUrl" class="form-control" />
        </div>

        <div class="form-group m-4">

            <input type="Submit" value="Add Candy" class="form-control btn btn-primary" />

        </div>

    </form>

    @section Scripts {
        @{
            <partial name="_ValidationScriptsPartial" />
        }
    }

</div>