@model Cart

<form id="addToCartForm" method="post">
    <input asp-for="CandyId" hidden />
    <div class="row m-5 border-2 shadow border-rounded">
        <div class="card text-center">
            <div class="row m-3">
                <div class="col-12 rounded py-2 mb-3">
                    <h1 class="text-opacity-75">@Model.Candy.CandyName</h1>
                    <div class="row">
                        <div class="col-6">
                            <img src="@Model.Candy.ImgUrl" class="card-img-top rounded p-4" />
                        </div>
                        <div class="col-6">
                            <p class="text-dark">$@Model.Candy.CandyPrice</p>
                            <p class="text-dark">@Model.Candy.Description</p>
                            <div class="input-group mb-3">
                                <span class="input-group-text">Quantity</span>
                                <input asp-for="Quantity" class="form-control" />
                            </div>
                            <input type="button" value="Add to Cart" class="btn btn-success" id="addToCartButton" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div id="authMessage" class="alert alert-warning d-none" role="alert">
    Please Register or  Login to add items to your cart.
</div>

<script>
    document.getElementById("addToCartButton").addEventListener("click", function () {
        var isAuthenticated = @User.Identity.IsAuthenticated.ToString().ToLower();
        if (!isAuthenticated) {
            document.getElementById("authMessage").classList.remove("d-none");
        } else {
            document.getElementById("addToCartForm").submit();
        }
    });
</script>
